@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header,
footer {
  padding: 1rem;
  text-align: center;
}

.content {
  padding: 1rem;
}

/* Styles for larger screens */
@media (min-width: 768px) {
  header {
    padding: 2rem;
    font-size: 1.5rem;
  }

  .content {
    padding: 2rem;
  }

  footer {
    padding: 2rem;
  }
}